body {
    background-color: rgb(233, 243, 243);
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#img-div {
    width: 600px;
    text-align: center;
    margin: 0 auto;

}

#image {
    width: 100%;
}

li{
    margin:20px 0;
}